__pycache__
.dockerignore
.git
.gitignore
.github
.vscode
docker-compose*
.pre-commit-config.yaml
*.code-workspace
Dockerfile
screenshot.png
**/docker
**/secrets.dev.yaml
**/values.dev.yaml
**/*.db
**/.env.dev.py
**/env.dev.py
**/.webassets-cache
**/static/css
**/static/js
**/database
**/flask_session
**/README.md

