{% load tags %}
 <div class="toast-container position-absolute p-3 bottom-0 end-0">
{% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="messageToast" data-bs-delay="15000">
    <div class="toast-header bg-{{ message|bootstrap_message_alert_type }}">
        <i class="bi bi-exclamation-triangle-fill"></i>
        {% comment %} <img src="..." class="rounded me-2" alt="..."> {% endcomment %}
            <strong class="me-auto">{{item}} - {{tabname}} </strong>
                <small>{{section}}</small> 
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div> 
    <div class="toast-body">{{ message.message|default:"" }}{{ message.extra_tags }}</div>
    </div>
{% endfor %}
</div>