{% extends 'firewall/whitelists.html' %}
{% block tab_content %}
{% include 'firewall/form.html' %}
<hr class="mt-0 mb-4">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">{{ _("Context") }}</th>
      <th scope="col">{{ _("Actions") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in settings %}
    <tr>
      <td class="col-1">{{item}}</td>
      <td class="col-1">
        <form id="view_{{ loop.index }}" method="post">{{ form.csrf_token }}
          <input type="hidden" name="uid" value="{{item}}" />
        </form>
        <div class="btn-group btn-group-sm" role="group" aria-label="view_list">     
          <a href="#" class="btn_edit btn btn-success btn-sm" data-attr="#view_{{ loop.index }}"><i class="bi-pencil"></i></a>
          <a href="#" class="btn_del btn btn-danger btn-sm" data-attr="#view_{{ loop.index }}"><i class="bi-trash"></i></a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}