{% extends "profile.html" %}
{% block tabcontent%}
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">  
            {% if current_user.tf_totp_secret %}
            <i class="bi bi-check" style="color:green; font-size: 1.5rem;"></i><font color="green"><strong><i>TOTP Code has been verified.</i></strong></font>
            <hr/>
            {% endif%}        
            <form action="{{ url_for_security("two_factor_setup") }}" method="POST" name="two_factor_setup_form" id="two_factor_setup_form">
                {{ two_factor_setup_form.hidden_tag() }}
                {% for subfield in two_factor_setup_form.setup %}
                    {% if subfield.data in choices %}
                    {{ render.field_check(subfield)}}
                    {% endif %}
                {% endfor %}
                {{ render_field_errors(two_factor_setup_form.setup) }}
                {% if chosen_method=="email" and chosen_method in choices %}
                    <p>{{ _fsdomain("To complete logging in, please enter the code sent to your mail") }}</p>
                {% endif %}
                {% if chosen_method=="authenticator" and chosen_method in choices %}
                <div class="mb-3 center">
                    <div>
                    {{ _fsdomain("Open an authenticator app on your device and scan the following QRcode (or enter the code below manually) to start receiving codes:") }}
                    </div>
                    <div><img alt="{{ _fsdomain("Two factor authentication code") }}" id="qrcode" src="{{ authr_qrcode }}"></div>
                    <div>{{ authr_key }}</div>
                </div>
                {% endif %}
                {% if chosen_method=="sms" and chosen_method in choices %}
                    <p>{{ _fsdomain("To Which Phone Number Should We Send Code To?") }}</p>
                    {{ two_factor_setup_form.hidden_tag() }}
                    {{ render_field_with_errors(two_factor_setup_form.phone, placeholder="enter phone number") }}
                    {{ render.button(two_factor_setup_form.submit) }}
                {% endif %}
            </form>   
            {% if  chosen_method in choices %}                                 
            <form action="{{ url_for_security("two_factor_token_validation") }}" method="POST" name="two_factor_verify_code_form">
                {{ two_factor_verify_code_form.hidden_tag() }}
                <div class="row row-cols-lg-auto g-3 needs-validation ">
                    <div class="col-4">
                        <div class="form-group">
                            {{ render.field(two_factor_verify_code_form.code, maxlength=6, class="form-control form-control-sm col-3") }}
                            <div class="form-text">Please, validate TOTP Code for activate usage</div>                            
                        </div>
                    </div>
                    <div class="col-auto">
                    {{ render.button(two_factor_verify_code_form.submit, value="Activate", class="btn btn-sm btn-primary") }}
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>  
</div>
{% endblock %}
{% block extrascripts %}
<script>
      $('.form-check-input').change(function () {
          $('#two_factor_setup_form').submit()
      });
</script>
{% endblock %}  
