{% extends "profile.html" %}
{% block tabcontent%}
<div class="col-sm-6">
<div class="card">
    {# <div class="card-header"></div> #}
    <div class="card-body">
        <form method="post">
            <div class="form-check form-switch">
                <input type="checkbox" name="maintenance" onchange="submit();" {% if maintenance%}checked{%endif%}>
                <label> Maintenance mode </label>
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" name="explore_db" onchange="submit();" {% if explore_db%}checked{%endif%}>
                <label> Explore database </label>
            </div>            
        </form>
    </div>
    {# <div class="card-footer"></div> #}
</div>
</div>
{% endblock %}
