{% extends "security/base.html" %}
{% block content %}
{# {% include "security/_messages.html" %} #}
<p>{{ _fsdomain('Send password reset instructions') }}</p>
<form  action="{{ url_for_security('forgot_password') }}"  method="POST"  name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ forgot_password_form.csrf_token }}
  <div class="mb-3">
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      {{ render.field(forgot_password_form.email)}}
    </div>
  </div>
  <div class="d-grid gap-2">{{ render.button(forgot_password_form.submit) }}</div>
</form>
{% endblock %}
