{% extends "base_profile.html" %}
{% block tabcontent%}
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <form id="frm_user_profile" method="post" class="card-text" role="form" novalidate>
        {{ form.csrf_token }}
        {% for field in form if field.id not in ['submit','csrf_token']%}
        <div class="mb-3">{{render.field(field, label_before=true)}}</div>
        {% endfor %}
        <div class="text-end mt-3">{{ render.button(form.submit) }}</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
