{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
{% import 'admin/actions.html' as actionslib with context %}
{% extends "base.html" %}
{% set section="admin" %}
{% block title%}
{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}
{% endblock%}
{% block extracss %}
    {% if admin_view.extra_css %}
        {% for css_url in admin_view.extra_css %}
        <link href="{{ css_url }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
    <style>
        .hide {
            display: none;
        }
    </style>
    {# {% block head %} {% endblock %} #}
    {% block head_tail %} {% endblock %}
{% endblock %}

{% block content %}
<div id="adminviewer" class="overflow-auto">
  {% block messages %}{{ layout.messages() }}{% endblock %}
  {% set render_ctx = h.resolve_ctx() %}
  {% block fa_body %}{% endblock %}
</div>
{% endblock %}

{% block extrascripts%}
{% if admin_view.extra_js %}
    {% for js_url in admin_view.extra_js %}
        <script src="{{ js_url }}" type="text/javascript"></script>
    {% endfor %}
{% endif %}
{% block tail %}{% endblock %}    
{% endblock%}
